
<!DOCTYPE html>
<html>
<!-- <head>
<link href='https://fonts.googleapis.com/css?family=Inknut Antiqua' rel='stylesheet'>

</head> -->
<body>
    
<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" opened mode="side">
        <h1>dahu</h1>
        <div class="sidebar-cont">
            <h2>Create a new theme</h2>
        </div>
        <div class="sidebar-cont">
            <h2>Generate</h2>
        </div>
        <div class="sidebar-cont">
            <h2>Generate from picture</h2>
        </div>
        <div class="sidebar-cont">
            <h2>Library</h2>
        </div>
    </mat-sidenav>
    
  </mat-sidenav-container>
</body>

