.library-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  text-align: center; /* Center text */
}

.theme-blocks {
  display: flex;
  flex-direction: column; /* Stack blocks vertically */
  align-items: center; /* Center horizontally */
  margin-top: 20px; /* Add space below header */
}

.theme-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); /* Example background for theme blocks */
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px;
  border-color: black;
  height: 60px;
  width: 360px;
  border-radius: 8px;
}

.theme-name {
  display: flex;
  align-items: center;
}

.current-indicator {
  font-weight: bold;
  color: #007acc; /* Adjust the color as needed */
  margin-left: 10px; /* Add some space between the name and the indicator */
}

.theme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
}

.no-themes {
  margin-top: 20px; /* Add space below header */
  font-size: 16px; /* Adjust as needed */
  color: aliceblue;
}
