/* generate-color-scheme.component.css */
.color-scheme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    height: 100vh;
    gap: 20px;
  }
  .color-blocks{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    height: 500px;
  }
  p{
    margin: 20px;
  }
  
  button{
    border: none;
    background-color: transparent;
    border: none;
  }
  
  .color-block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .color-preview {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
  }
  