@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
h3 {
    font-size: 22;
    font-family:'JetBrains Mono';
    font-weight: bold;
    text-align: center;
  }
  p {
    text-align: center;
    padding-top: 30%;
  }