<!--The content below is only a placeholder and can be replaced.-->
<main>
  <header>
    <h1> Hello and welcome to dahu</h1>
  </header>
  <section class="content">
    <app-side-bar></app-side-bar>
  </section>
</main>





<!-- <h2>Send message from Webview to Extension</h2>
<textarea #text>Hello world notification!</textarea><br />
<button (click)="postToExtension(text.value)">Send message to extension</button>
<p>Should produce a notification from the extension process.</p>

<h2>Send message from Extension to Webview</h2>
<p>
  Open Command Palette (Cmd+Shift) and select "Angular: Update title" to update
  the title in Webview from the extension process.
</p> -->
