<div class="general">
  <h2>Edit Syntax</h2>

  <div class="color-boxes">
    <div class="pagination-buttons">
      <button (click)="previousPage()" [disabled]="currentPage === 0">&#8249;</button>
    </div>
    <div *ngFor="let color of displayedColors; let i = index" class="color-item">
      <!-- Use [innerHTML] to handle line breaks -->
      <h3 [innerHTML]="getScopeName(color.scope)"></h3>
      <div class="color-box" [style.backgroundColor]="color.settings.foreground"></div>
      <input
        type="text"
        [value]="color.settings.foreground"
        (input)="updateColor($event.target.value, i)"
      />
    </div>
    <div class="pagination-buttons">
      <button (click)="nextPage()" [disabled]="(currentPage + 1) * 5 >= syntaxColors.length">&#8250;</button>
    </div>
  </div>
  <button (click)="saveColors()">Save</button>
</div>
